@font-face {
    font-family: "nokiafc22";
    src: 
        local("nokiafc22"),
        url("https://raw.githubusercontent.com/jbb248/catgallery/main/docs/nokiafc22.woff");
}

body {
    font-family: "nokiafc22";
    text-align: center;
    background-color: white;

    margin: 0px;
}

footer p {
    width: 70%;
    background-color: royalblue;

    margin: auto;
    margin-top: 10px;
}

p {
    font-size: small;
}

a {
    color: #14dcb4;
}

.light {
    color: white;
}

.dark {
    color: royalblue;
}

.aligned-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;

    min-width: 20%;
}

.blue-border {
    border: 5px solid royalblue;
    border-radius: 15px;
}

.preview-image {
    flex: 1 1 0;
    min-width: 60%;

    padding: 12px;
}

.img-label {
    margin-left: 25px;
    margin-right: 25px;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

#content {
    width: 70%;

    margin: auto;
}

#main-menu, #build-menu {
    background-color: royalblue;

    margin-top: none;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#show-menu {
    border: 5px solid royalblue;
}